/* Created by Artisteer v4.0.0.58876 */

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.mwl-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.mwl-hmenu li {
   direction:ltr;
}
.mwl-hmenu a {
   direction:rtl;
}
.mwl-hmenu>li, .mwl-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.mwl-hmenu, ul.mwl-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.mwl-hmenu>li:first-child {
   padding-left:6px;
}
ul.mwl-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='mwl-hmenu-separator');
}
ul.mwl-hmenu>li>span.mwl-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   right:  -6px;
   width: 6px;
   height: 26px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.mwl-hmenu>li:first-child>span.mwl-hmenu-separator
{
   display:none;
}

ul.mwl-hmenu ul{
   background-color: #88DBF2 !important;
}

.mwl-header
{
   z-index: 1;
}

.mwl-content-layout, .mwl-content-layout-row, .mwl-layout-cell 
{
   display: block;
   zoom: 1;
   direction: ltr;
}
.mwl-layout-cell
{
   position:relative;
   float: right;
   clear: left;
}

ul.mwl-vmenu, ul.mwl-vmenu ul, ul.mwl-vmenu li{
   zoom: 1;
}

ul.mwl-vmenu ul 
{
   background-color: transparent;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.mwl-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.mwl-search div>input[type="text"]
{
   width: 100%;
}

* html form.mwl-search>input[type="text"] 
{
   margin :0;
}

.mwl-postmetadataheader{
   zoom:1;
}

.mwl-postheadericons span{
   zoom: 1;
}
.mwl-postcontent {
   height: 1%;
}

.mwl-postmetadatafooter{
   zoom:1;
}

.mwl-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.mwl-sidebar2 
{
   width: auto;
   float:none;
}

